body { 
    font-family: Arial; 
    margin: 30px; 
    line-height: 1.5; 
}

h2 { 
    text-align: center; 
}

form { 
    max-width: 400px; 
    margin: 0 auto 40px; 
    padding: 20px; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    background: #fafafa; 
}

label { 
    font-weight: bold; 
    display: block; 
    margin-top: 10px; 
}

input { 
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input::placeholder { 
    color: #999; 
}
small { 
    display: block; 
    color: #555; 
    margin-top: 3px; 
}

.error { 
    border-color: red !important; 
    background-color: #ffecec; 
}

.error-text { 
    color: red; 
    font-size: 0.9em; 
}

#submitBtn { 
    margin-top: 15px; 
    padding: 10px 15px; 
    cursor: pointer; 
    background: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
}


#colorPicker { 
    margin: 0 auto 10px; 
    display: block; 
    width: 100px; 
    height: 50px; 
}

table { 
    border-collapse: collapse; 
    margin: 0 auto; 
}

td { border: 1px solid #555; 
    width: 60px; 
    height: 60px; 
    text-align: center; 
    cursor: pointer; 
    transition: background 0.3s; 
}